@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  font-family: 'Inter', sans-serif; 
}

.drag-over { 
  background-color: rgba(59, 130, 246, 0.1); 
  border: 2px dashed #3b82f6; 
}

/* Custom scrollbar for better aesthetics */
.custom-scrollbar::-webkit-scrollbar { 
  width: 6px; 
}
.custom-scrollbar::-webkit-scrollbar-track { 
  background: transparent; 
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
  background: #e2e8f0; 
  border-radius: 10px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
  background: #cbd5e1; 
}